body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

img {
    height: 120px;
    object-fit: fill;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    color: #f9faf8;
}

.header > div {
    font-size: 24px;
    font-weight: 800;
    
}

.content-box-one {
    background-color: #1f2937;
    display: flex;
    flex: 1.4;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.content-box-one > :nth-child(1) {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-box-one h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}

.content-box-one p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
    
}

.content-box-one > :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.content-box-one button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600; 
    width: 127px;  
    padding: 5px;
    border: none;
    margin-top: 10px;
}

.content-box-two {
    background-color: white;
    display: flex;
    flex: 1.3;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 0px 250px;
}

.content-box-two h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.content-box-two p {
    font-size: 16px;
    text-align: center;
    margin-top: auto;
    width: 141px;
}

.content-box-two div {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.content-box-two div div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0px;
}

.content-box-two div div div {
    height: 120px;
    width: 120px;
    border: solid 4px #3882f6;
    border-radius: 10px;
    display: flex;
}

.content-box-three {
    background-color: #e5e7eb;
    display: flex;
    flex: 1.2;
    justify-content: center;
    align-items: center;
    padding: 0px 250px;
}

.content-box-three p {
    /* width: 700px; */
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.content-box-four {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.content-box-four div {
    background-color: #3882f6;
    /* flex: 1; */
    display: flex;
    padding: 50px 100px;
    width: 700px;
    border-radius: 5px;
}

.content-box-four div div {
    flex-direction: column;
    display: flex;
    padding: 0;
}

.content-box-four div div * {
    margin: 0px;
    color: #f9faf8;

} 

.content-box-four button {
    background-color: #3882f6;
    border: solid #f9faf8;
    color: #f9faf8;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600; 
    /* height: 40px; */
    width: 150px;  
    align-self: center;
    padding: 5px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px;
    justify-content: center;
}
